<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>chatbot</title>

        <!-- font cdn link -->
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         crossorigin="anonymous"
        />

        <!-- custom css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    </head>

    <body>
        <header>
            <h1 >LET'S CHAT</h1>
        </header>
        <div class="bot_container">
        <p> Our chatbot's got some cool stuff up to sell. Why not ask and see if anything catches your eye? 😊 
            Using full-length sentences makes for a smoother chat! Just a heads-up, our bot takes a moment to think. Thanks for hanging tight and being patient! 💬🐢</p>
        <!-- <section class="chatbot"> -->
            <div class="chatbox">
                <!-- <div class="messages__item messages__item--bot"> -->
                <!-- <div class="boticon">
                    <img src="static/bot.svg" width=40px>
                </div> -->

                <div class="chatbox__messages">
                   
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
                
                <div>
                    <p>Alrighty, once you're done chatting with the bot (deal or no deal), 
                       Just click on the 'Go to Questionnaire' button for a quick feedback. 
                       We'd really appreciate your thoughts! 🌟 Thanks a bunch!</p>
                    <a href="/questions"><button class="gotoquestion">Go to Questionnaire</a>
                </div>
            </div>
        <!-- </section> -->
        </div>

        <!-- custom js file link  -->
        <!-- <script>
            $SCRIPT_ROOT ={{ request.script_root|tojson }};
        </script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> 

    </body>

</html>