<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>chatbot</title>

        <!-- font cdn link -->
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         crossorigin="anonymous"
        />

        <!-- custom css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    </head>

    <body>
        <header>
            <h1 >LET'S CHAT</h1>
        </header>
        <div class="bot_container">
        <p>We're testing our chatbot's selling capabilities. <span style="font-weight: bold;">For the sake of our experiment, please consider purchasing at least one item</span>, even if it doesn't fully align with your interests.</p>
        <p>When chatting, use <span style="font-weight: bold;">full sentences</span> for a better conversation. Heads-up: <span style="font-weight: bold;">our bot takes a moment to think</span>. Thanks for hanging tight and being patient! 💬🐢</p>
        <p>Reminder: <span style="font-weight: bold;">Please don't share personal information</span> during the chat, and kindly avoid pushing the bot to its limits.</p>
        <p>Thank you for participating and helping with our experiment! 🛒</p>

        <!-- <section class="chatbot"> -->
            <div class="chatbox">
                <!-- <div class="messages__item messages__item--bot"> -->
                <!-- <div class="boticon">
                    <img src="static/bot.svg" width=40px>
                </div> -->

                <div class="chatbox__messages">
                    <div class="messages__item-container">
                    <img class="bot_icon" src="static/bot.svg">
                    <div class="messages__item messages__item--bot">
                        Please starting your conversation by typing "Hey" or any greeting into the 'writing message...' below
                    </div>
                </div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <a class="chatbox__send--footer send__button">Send</a>
                </div>
                
                <div>
                    
                    <p>You can exit the chat and proceed to the <span style="font-weight: bold;">"Go to Questionnaire"</span> page at any time <span style="font-weight: bold;">after attempting to purchase one or more products from our bot.</span>
                    Your feedback would be invaluable to us! 🌟</p>

                    <a href="/questions" class="gotoquestion">Go to Questionnaire</a>
                    <p>Thanks a bunch!</p>
                </div>
            </div>
        <!-- </section> -->
        </div>

        <!-- custom js file link  -->
        <!-- <script>
            $SCRIPT_ROOT ={{ request.script_root|tojson }};
        </script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> 

    </body>

</html>