<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>User Test Invitation</title>

        <!-- font cdn link -->
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         crossorigin="anonymous"
        />

        <!-- custom css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    </head>

    <body>
        <header>
            <h1>User Test Invitation</h1>
        </header>
        <div class="home_container">
            <h2>Hey there! 😊</h2>
            <p>Thanks a million for considering participating in our research. We're super excited to get to know your thoughts on our chatbot!</p>
            <h2>The Process, Simplified</h2>
            <li>
                Engage in a <span style="font-weight: bold;">chat with our chatbot</span> It's got some second-hand treasures. Maybe something catches your eye?
            </li>  
            <li>
                Fill out a <span style="font-weight: bold;">brief questionnaire</span> sharing how you felt about the chatbot.
            </li>
            <p>This study is part of a master's thesis, exploring the effectiveness of our chatbot. 
                Please be informed that <span style="font-weight: bold;">conversation data will also be accessible to OpenAI</span>, with your explicit permission, of course. 
                Additionally, our researcher will collect conversation and questionnaire data for in-depth analysis. 
                Rest assured, your personal information will remain confidential! 🕵️‍♂️</p>
                
            <h2>A Few Little Must-Haves to Join:</h2> 
            <li>
                Your Age: Be <span style="font-weight: bold;">18</span> or proudly older! 🎉
            </li>
            <li>
                Your Language Expertise: You're comfortably conversational in <span style="font-weight: bold;">English.</span>
            </li>
            <li>
                Your Time: Just <span style="font-weight: bold;">15-20 minutes</span> of your awesome presence.
            </li>
       
            
            <h2>Confidentiality:</h2> 
            <p>Any data collected during the study will be anonymized and only be used in this research.</p>
    
            <h2>Questions? Concerns? </h2>    
            <p>if you have any concerns or complaints about the research. Please contact Ethics Committee 
            at the University of Twente through a call (+31534892085) or an email (ethicscommittee-cis@utwente.nl). 💌☎️</p>
                
            <h2>Ready to dive in? </h2> 
            <li>
                I hereby declare that I have been clearly informed about the research and I agree to participate.
            </li>
            <li>
                I give consent for my answers to be quoted and used in presentations and reports.
                If they are used, they will be completely anonymous.
            </li>
            <li>
                I declare that I am at least 18 years old.
            </li>
            <p>Please click that <span style="font-weight: bold;">"Start now"</span> button below if you agree to take part in the research.</p>
            <p>Thanks for being awesome! 🌟</p>
            
    
            <a href="/chatbot" class="home_button">Start Now</a>
        </div>

        <!-- jquery cdn link  -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

        <!-- custom js file link  -->
        <!-- <script src="/script.js"></script>  -->
    </body>

</html>