<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>home</title>

        <!-- font cdn link -->
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         crossorigin="anonymous"
        />

        <!-- custom css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    </head>

    <body>
        <header>
            <h1 >HOME {{session['user_id']}}</h1>
        </header>

        <section class="home">

            <div class="content">
                <h1>Description:</h1>
                <p>
                    Thank you for your interest in participating in our research experiment. The study is divided into two
                    parts: a conversation with the chatbot and a questionnaire to gather feedback on your feelings
                    towards the chatbot. The study is a part of master's thesis investigating the performance of the price
                    bargain negotiation chatbot. As part of the study, conversation and questionnaire data may be
                    collected for further analysis, but only with your permission. No personal information about you will
                    be collected.
                </p>
                <h1>Participation Requirements:</h1>
                <p>To participate in this study, you must meet the following criteria:</p>
                <ul>
                    <li>
                        You must be 18 years of age or older.
                    </li>
                    <li>
                        You must have a basic understanding of the English language.
                    </li>
                    <li>
                        You must be available for approximately 15 to 20 mins to complete the study.
                    </li>
                </ul>
                <h1>Participant's Rights:</h1>
                <p>
                <ul>
                    <li>
                        Please understand your participation is voluntary and you have the right to at any time
                        without giving any reasons.
                    </li>
                    <li>
                        If you decide to withdraw, any data collected up to that point will be discarded and not
                        included in the analysis.
                    </li>
                </ul>
                </p>
                <h1>Confidentiality:</h1>
                <p>
                    Any data collected during the study will be anonymized and only be used in this research.
                </p>
                <h1>Contact Information:</h1>
                <p>If you are not satisfied with how this study is being conducted, or if you have any concerns,
                    complaints, or general questions about the research or your rights as a participant, please contact
                    the Ethics Committee Computer & Information Science (CIS), University of Twente, at +31534892085,
                    or email ethicscommittee-cis@utwente.nl.
                </p>
                <h1>Consent Form:</h1>
                <p>
                    Please click YES below if you are at least 18 years old and agree to take part in the questionnaire.
                </p>
                <ul>
                    <li>
                        I hereby declare that I have been clearly informed about the nature and method of the research and I agree to participate.
                    </li>
                    <li>
                        I give consent for my answers to be quoted and used in presentations and reports. If they are used, they will be completely anonymous.
                    </li>
                    <li>
                        Finally, I declare that I am at least 18 years old.
                    </li>
                </ul>
                <a href="/chatbot"><button class="btn">YES</a>
                <a href="#"><button class="btn">NO</a>
            </div>

        </section>

        <!-- jquery cdn link  -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

        <!-- custom js file link  -->
        <!-- <script src="/script.js"></script>  -->
    </body>

</html>