<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>User Test Invitation</title>

        <!-- font cdn link -->
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         crossorigin="anonymous"
        />

        <!-- custom css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    </head>

    <body>
        <header>
            <h1>User Test Invitation</h1>
        </header>
        <div class="home_container">
            <h2>Hey there! 😊</h2>
            <p>First off, a big THANK YOU for considering being a part of our little research adventure.</p>
            <p>Here’s what you’re in for:</p>
            <li>
                A fun chat with our chatbot. It's got some second-hand treasures. Maybe something catches your eye?
            </li>  
            <li>
                A quick questionnaire about how you felt about the chatbot.
            </li>
            <p>Why are we doing this? It's all for a master’s thesis.</p>
                
            <h2>Time Needed</h2> 
                Just a coffee break! About 10-15 minutes.
            
            <h2>Privacy Stuff</h2> 
                Only anonymous data will be used for our research.
    
            <h2>Questions? Concerns? </h2>    
                If something feels off or you just have a question, drop an email to z.zhao-2@student.utwente.nl
                
            <h2>Ready to dive in? </h2> 
                
            <p>you're 18 or above and cool with joining us, just hit that "Start now" button below.</p>
            <p>Thanks for being awesome! 🌟</p>
            
    
            <a href="/chatbot" class="home_button">Start Now</a>
        </div>

        <!-- jquery cdn link  -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

        <!-- custom js file link  -->
        <!-- <script src="/script.js"></script>  -->
    </body>

</html>