<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>thanks a lot</title>

        <!-- font cdn link -->
        <link rel="stylesheet" 
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         crossorigin="anonymous"
        />

        <!-- custom css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    </head>

    <body class="thankyou">

        <p>Thank you for participating in our experiment! Have a wonderful day ahead.😊</p>



    </body>

</html>