@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

header {
    position:fixed;
    top: 0; left: 0;
    z-index: 1000;
    color:#fff;
    background:#213555;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    width:100%;

}

body {
    padding-top: 100px;
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #F0F0F0;
}
h2 {
    color: #213555;
    font-size: 18px;
}
p, li {
    color: #213555;
    font-size: 18px;
}
ul {
    list-style-type: none;
}

.thankyou{
    background-color:#213555
}

.thankyou p{
    color: #F0F0F0;
    font-weight: bold;
    font-size: 45px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

}


/* homepage */

.home_button{
    display: inline-block;
    padding: 8px 12px;
    background-color: #E5D283;
    color: #213555;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}
.home_container {
    max-width: 800px;
    
    margin: auto auto;
    padding: 20px;
    border: 1px solid #4F709C;
    border-radius: 10px;
    background-color: #F0F0F0;
    flex:1;
}



/* Chatpage */
/* section */
/* .chatbot{
    padding: 7% 5%;
    padding-top: 13;
} */

.bot_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #4F709C;
    border-radius: 10px;
    background-color: #F0F0F0;
    flex:1;
}

/* button */
.send__button {
    /* display: inline-block; */
    padding: 10px 15px;
    background-color: #E5D283;
    /* color: #213555; */
    /* text-decoration: none; */
    border-radius: 5px;
    /* margin-top: 20px; */
    font-weight: 600;
}

/* header */
/* .chatbox__header {
    margin-right: 10px;
} */


.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    font-size: 24px;
}

/* .messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
} */

.messages__item--user {
    margin-left: auto;
}

.messages__item--bot {
    margin-right: auto;
}

.chatbox__footer {
    position: sticky;
    bottom: 0;
}
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 0;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--bot{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--primary);
    color: #213555;
    background-color: #E5D283;
    margin-left: 10px;
}
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--user {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: #fff;
    background-color: #213555;
}

.messages__item-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bot_icon{
    width:40px
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: left;
    color: #213555;
}

.gotoquestion{
    display: inline-block;
    padding: 10px 15px;
    background-color: #E5D283;
    color: #213555;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* .chatbox__send--footer {
    color: black;
} */

/* .chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
} */

/* questions page */
.form-page {
    display: none;
}
.form-page {
    display: flex; 
    flex-direction: column; 
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
    /* border: 1px solid #4F709C; */
    border-radius: 10px;
    background-color: #F0F0F0;
    flex: auto;

}
.form-page label{
    color: #213555;
    font-size: 16px;
    text-align: center;
    background-color:#B8B8B8 ;
    font-weight: bold;
    margin-top: 15px;
}

.form-page .options{
    color: #213555;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-top: 10px;
}


.pre_button{
        /* display: inline-block; */
        padding: 2px ;
        background-color: #E5D283;
        color: #213555;
        /* text-decoration: none; */
        border-radius: 5px;
        font-weight: bold;
}


.submit_button {
    /* display: inline-block; */
    padding: 2px;
    background-color: #E5D283;
    color: #213555;
    /* text-decoration: none; */
    border-radius: 5px;
    font-weight: bold;
}




/* phone size */
@media (max-width: 414px){

    html{
        font-size :90%
    }

    header{
        font-size: 80%;
    }
    h2{
        font-size: 90%;
    }
    p, li{
        font-size: 90%;
    }

    .form-page .options{
        flex-direction: column; /* stack options vertically */
        align-items: center;
        font-size: 12px;
        padding-top: 0;
        margin-top: 0;
    }
    /* .home_container {
        padding: 12px;
    } */
    .form-page label{
        font-size: 13px;
        margin-top: 5px;
        font-weight: 500;
    }
    body{
        padding-top: 70px;
    }
    .messages__item {
        margin-top: 0;
        background: #E0E0E0;
        padding: 6px 10px;
        max-width: 60%;
    }
    
    .messages__item--bot{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--primary);
        color: #213555;
        background-color: #E5D283;
        margin-left: 5px;
        font-size: 60%;
    }
    .messages__item--typing {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 60%;
    }
    
    .messages__item--user {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: var(--primary);
        color: #fff;
        background-color: #213555;
        font-size: 60%;
    }

    .bot_icon{
        width: 30px;
    }

    .send__button {
        padding: 5px 8px;
    }

    .chatbox__footer {
        padding: 6px 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: 10px;
    }

    .gotoquestion{
        padding: 10px 15px;
        font-weight: bold;
        font-size: 80%;
    }

    .pre_button{
        font-weight: 600;
        font-size: 12px;
    }

    .submit_button{
        font-weight: 600;
        font-size: 12px;
    }

    .thankyou p{
    font-size: 30px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

}
}